[submodule "8cc"]
	path = 8cc
	url = https://github.com/shinh/8cc
[submodule "Whitespace"]
	path = Whitespace
	url = https://github.com/koturn/Whitespace
[submodule "tinycc"]
	path = tinycc
	url = https://github.com/mirror/tinycc
[submodule "SmileyBASIC"]
	path = SmileyBASIC
	url = https://github.com/chz100p/SmileyBASIC.git
	branch = SmileyBASIC
